In [1]:
import pandas as pd
import numpy as np

In [10]:
# Ubah titik terakhir menjadi koma
def format_last_dot_to_comma(value):
    parts = value.rsplit('.', 1)  # pisahkan berdasarkan titik dari belakang
    return ','.join(parts) if len(parts) == 2 else value

In [ ]:
data = pd.read_csv('../dataset/108datadesa.csv')
data['longitude'] = data['longitude'].astype(str).str.replace(',', '.', regex=False)

data['longitude'] = data['longitude'].apply(format_last_dot_to_comma)
data.to_csv('../dataset/fixxx_dataaa.csv', index=False)

     id  latitude      longitude  curah_hujan_mm  kemiringan_persen  \
0   NaN  0.894087  1.231.225,609            2558                  7
1   NaN  0.896517  1.231.447,178            2642                  3
2   NaN  0.920340  1.231.211,998            2588                  5
3   NaN  0.910363  1.231.008,937            3022                  8
4   NaN  0.921370  1.231.327,501            2697                 10
..   ..       ...            ...             ...                ...
102 NaN  0.885318  1.236.297,446            3177                  7
103 NaN  0.877609  1.236.516,328            2738                  3
104 NaN  0.843426  1.235.740,085            2688                  5
105 NaN  0.879945  1.235.036,874            2994                  6
106 NaN  0.858870  1.234.569,718            3079                  4

     banjir_historis           desa
0                  4    Batubantayo
1                  0      Batutajam
2                  1           Buko
3                  5   Buko Selatan
4                  1     Buko Utara
..               ...            ...
102                3     Sangkub IV
103                4  Sangkub Timur
104                3       Sidodadi
105                4    Suka Makmur
106                4     Tombolango

[107 rows x 7 columns]